#container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  background-color: #d1d1d1;
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

#master-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 10px 10px 10px 10px;
  width: 80%;
}

#image-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  width: fit-content;
}

#song-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* margin: 15px 15px 15px 15px; */
  /* width: 100%; */
  background-color: #d1d1d1;
}

#info-box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
}

#info-box:hover {
  border: 2px solid #00f281;
}

#song-title {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 2%;
}

#favorites-title {
  display: flex;
  padding-right: 2%;
}

#favorite-button {
  margin: auto 0;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
}

#favorites-spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  color: #621389;
}

#comments-container {
  margin: 10px 10px 10px 10px;
  background-color: #d1d1d1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#comment-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: whitesmoke;
  width: 80%;
}

#comment-container > a {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

#comment-text {
  display: flex;
  margin-left: 5%;
}

#add-comment-form {
  display: flex;
  justify-content: flex-end;
}

#favorites-count {
  font-weight: 700;
  padding-right: 5px;
}

#comment-input-field {
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
}

.ubuntu-font {
  font-family: "Ubuntu", sans-serif;
  color: darkslategray;
}

.merriweather-font {
  font-family: "Merriweather", serif;
}

.form-songs {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-song {
  width: 150px;
  height: 150px;
}
