#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 75px;
}

#song-container {
  border: 5px solid darkgray;
  border-radius: 5px;
  margin: 15px 15px 15px 15px;
  width: 250px;
  background-color: #d1d1d1;
}

#song-container:hover {
  border: 5px solid #00f281;
}

#song-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

#comments-container {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  background-color: #d1d1d1;
}

#favorites-count {
  color: darkgreen;
  font-weight: 700;
}

.form-songs {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-song {
  width: 200px;
  height: 200px;
}
