a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  background-color: #00f281;
  border-radius: 5px;
}

#nav {
  background-color: #d1d1d1;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-family: "Merriweather", serif;

  /* position: fixed;
  top: 0;
  width: 100%; */
}

#nav-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
}

#nav-title:hover {
  background-color: #00f281;
  border-radius: 5px;
}

#nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#post-song-form {
  border: 5px solid black;
  border-radius: 5px;
  width: 20%;
  margin-left: 40%;
  margin-top: 50px;
}
